/*
=====================================================================
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Tech Section
   f. Portfolio Section
   g. Footer

===================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body {
  background: #0f0f0f;
}

:root {
  --color-brand-primary: #8836C9;
  --color-neutral-lighest: #F2F2F2;
  --color-neutral-medium: #333333;
  --color-neutral-darkest: #;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;

  text-align: center;
  overflow: hidden;
}

/* vertically center banner section */
header:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
header .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  text-align: center;
}

header .banner-text {
  width: 100%;
}
header .banner-text h1 {
  font: 90px/1.1em 'Poppins', sans-serif;
  font-weight: bold;
  color: var(--color-neutral-lighest);
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
}
header .banner-text h3 {
  font: 18px/1.9em 'Poppins', serif;
  color: #ddd;
  margin: 0 auto;
  width: 70%;
}
header .banner-text h3 span,
header .banner-text h3 a {
  color: var(--color-neutral-lighest);
}
header .banner-text hr {
  width: 60%;
  margin: 18px auto 24px auto;
  border-color: #2f2d2e;
  border-color: rgba(150, 150, 150, 0.1);
}

/* header social links */
header .social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
}
header .social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}
header .social li a {
  color: var(--color-neutral-lighest);
}
header .social li a:hover {
  color: #0762f9;
}

/* scrolldown link */
header .scrolldown a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -29px;
  color: var(--color-neutral-lighest);
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  color: var(--color-neutral-lighest);
  border-radius: 100%;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header .scrolldown a:hover {
  color: var(--color-brand-primary);
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */
#nav-wrap {
  font: 12px 'Poppins', sans-serif;
  font-weight: bold;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}
.opaque {
  background-color: #333;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn {
  display: none;
}

ul#nav {
  min-height: 48px;
  width: auto;

  /* center align the menu */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Links */
ul#nav li a {
  /* 8px padding top + 8px padding bottom + 32px line-height = 48px */

  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: var(--color-neutral-lighest);

  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

ul#nav li a:active {
  background-color: transparent !important;
}
ul#nav li.current a {
  color: var(--color-brand-primary);
}

/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
  background: var(--color-brand-primary);
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
}

#about a,
#about a:visited {
  color: var(--color-neutral-lighest);
}
#about a:hover,
#about a:focus {
  color: var(--color-brand-primary);
}

#about h2 {
  font: 22px/30px 'Poppins', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-neutral-lighest);
  margin-bottom: 12px;
}
#about p {
  line-height: 30px;
  color: var(--color-neutral-lighest);
}
#about .profile-pic {
  position: relative;
  width: 140px;
  height: 140px;
}
#about .contact-details {
  width: 41.66667%;
}
#about .download {
  width: 58.33333%;
  padding-top: 6px;
}
#about .main-col {
  padding-right: 5%;
}
#about .download .button {
  margin-top: 6px;
  background: var(--color-neutral-medium);
}
#about .download .button:hover {
  background: var(--color-neutral-lighest);
  color: #2b2b2b;
}
#about .download .button i {
  margin-right: 15px;
  font-size: 20px;
}

/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

#resume {
  background: var(--color-neutral-darkest);
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
}

#resume a,
#resume a:visited {
  color: var(--color-brand-primary);
}
#resume a:hover,
#resume a:focus {
  color: var(--color-neutral-lighest);
}

#resume h1 {
  color: var(--color-neutral-lighest);
  font: 18px/24px 'Poppins', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#resume h1 span {
  border-bottom: 3px solid var(--color-brand-primary);
  padding-bottom: 6px;
}
#resume h3 {
  color: var(--color-neutral-lighest);
  font: 25px/30px 'Poppins', sans-serif;
  font-weight: bold;
}

#resume .header-col {
  padding-top: 9px;
}
#resume .main-col {
  padding-right: 10%;
}

.education,
.work {
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e8e8e8;
}
#resume .info {
  font: 16px/24px 'Poppins', serif;
  color: var(--color-neutral-lighest);
  margin-bottom: 18px;
  margin-top: 9px;
}
#resume .info span {
  margin-right: 5px;
  margin-left: 5px;
}
#resume .date {
  font: 15px/24px 'Poppins', sans-serif;
  margin-top: 6px;
}

#resume .activities-list {
  color: var(--color-neutral-lighest);
  list-style: circle;
  margin-left: 5%;
}

/*----------------------------------------------*/
/*	e. Tech Section
/*----------------------------------------------*/

#tech {
  background: var(--color-brand-primary);
  color: var(--color-neutral-lighest);
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
}

#tech h1 {
  font: 18px/24px 'Poppins', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-neutral-lighest);
}
#tech h1 span {
  border-bottom: 3px solid var(--color-neutral-lighest);
  padding-bottom: 6px;
}
#tech h3 {
  font: 25px/30px 'Poppins', sans-serif;
  font-weight: bold;
}

#tech .header-col {
  padding-top: 9px;
}
#tech .main-col {
  padding-right: 10%;
}

#tech .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#tech .cards .card {
  background: var(--color-neutral-lighest);
  padding: 15px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 4vh;
}

#tech .cards .card:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 15px var(--color-neutral-medium);
}

#tech .cards .card .card-img {
  width: 50px;
  align-self: center;
  margin-bottom: 2vh;
}

#tech .cards .card .card-title {
  margin-bottom: 2px;
}

#tech .cards .card .card-subtitle {
  color: #8d8d8d;
  margin: 0;
}

/* ------------------------------------------------------------------ */
/* f. Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
  background: var(--color-neutral-darkest);;
  padding-top: 90px;
  padding-bottom: 60px;
}
#portfolio h1 {
  font: 18px/24px 'Poppins', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 48px;
  color: var(--color-neutral-lighest);
}

/* Portfolio Content */
#portfolio-wrapper .columns {
  margin-bottom: 36px;
}
.portfolio-item .item-wrap {
  background: var(--color-neutral-medium);
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  color: var(--color-neutral-lighest);

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  width: 230px;
  height: 150px;
}
.portfolio-item .item-wrap a {
  display: block;
  cursor: pointer !important;
}

.portfolio-item .category {
  display: none;
}

.portfolio-item .item-wrap img {
  vertical-align: bottom;
  width: 100%;
  height: 80%;
  object-fit: cover;
  cursor: pointer;
}

/* on hover */
.portfolio-item:hover .category {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  background-color: var(--color-neutral-medium);
  opacity: 0.9;

  width: 100%;
  height: 100%;
}

/* ------------------------------------------------------------------ */
/* g. Footer
/* ------------------------------------------------------------------ */

footer {
  padding-top: 50px;
  padding-bottom: 20px;
  color: #303030;
  font-size: 14px;
  text-align: center;
  position: relative;
  background: var(--color-brand-primary);
}

footer a,
footer a:visited {
  color: #525252;
}
footer a:hover,
footer a:focus {
  color: var(--color-neutral-lighest);
}

/* copyright */
footer .copyright {
  color: var(--color-neutral-lighest);
  margin: 0;
  padding: 0;
}

/* Go To Top Button */
#go-top {
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -30px;
}
#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #525252;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  color: var(--color-neutral-lighest);
  font-size: 21px;
  line-height: 60px;
  border-radius: 100%;
}
#go-top a:hover {
  background-color: var(--color-brand-primary);
}

.social .btn:first-child {
  margin-right: 30px;
}
.social .btn {
  padding-left: 30px;
  padding-right: 30px;
}
.social .btn i {
  margin-right: 15px;
}
.behance-btn {
  background-color: var(--color-brand-primary) !important;
}
.github-btn {
  background-color: #18191a !important;
}

.icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons ul {
  padding: 0;
  display: flex;
  margin-top: 8%;
}

.icons ul li {
  list-style: none;
  width: 30px;
  height: 30px;
  margin: 10px 30px 0;
  transform: rotate(-30deg) skew(25deg);
  background: #ccc;
}

.icons ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transition: 0.5s;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: var(--color-neutral-lighest);
  font-size: 20px !important;
}

.icons ul li:hover span {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
}

.icons ul li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.icons ul li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

.icons ul li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

.icons ul li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}

.icons ul li:hover span:nth-child(1) {
  transform: translate(0, 0);
  opacity: 0.2;
}

.icons ul li:nth-child(1) span {
  background: #dd4b39;
}

.icons ul li:nth-child(2) span {
  background: #0077b5;
}

.icons ul li:nth-child(3) span {
  background: #000000;
}

.language-select button {
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Poppins', sans-serif;
}

.language-select button:hover {
  opacity: 0.8;
}