#about {
    background: var(--color-brand-primary);
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;
}

#about a,
#about a:visited {
    color: var(--color-neutral-lighest);
}

#about a:hover,
#about a:focus {
    color: var(--color-brand-primary);
}

#about h2 {
    font: 22px/30px 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-neutral-lighest);
    margin-bottom: 12px;
}

#about p {
    line-height: 30px;
    color: var(--color-neutral-lighest);
}

#about .profile-pic {
    position: relative;
    width: 140px;
    height: 140px;
}

#about .contact-details {
    width: 41.66667%;
}

#about .download {
    width: 58.33333%;
    padding-top: 6px;
}

#about .main-col {
    padding-right: 5%;
}

#about .download .button {
    margin-top: 6px;
    background: var(--color-neutral-medium);
}

#about .download .button:hover {
    background: var(--color-neutral-lighest);
    color: #2b2b2b;
}

#about .download .button i {
    margin-right: 15px;
    font-size: 20px;
}


.icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons ul {
    padding: 0;
    display: flex;
    margin-top: 8%;
}

.icons ul li {
    list-style: none;
    width: 30px;
    height: 30px;
    margin: 10px 30px 0;
    transform: rotate(-30deg) skew(25deg);
    background: #ccc;
}

.icons ul li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: var(--color-neutral-lighest);
    font-size: 20px !important;
}

.icons ul li:hover span {
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
}

.icons ul li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}

.icons ul li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: 0.8;
}

.icons ul li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: 0.6;
}

.icons ul li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: 0.4;
}

.icons ul li:hover span:nth-child(1) {
    transform: translate(0, 0);
    opacity: 0.2;
}

.icons ul li:nth-child(1) span {
    background: #dd4b39;
}

.icons ul li:nth-child(2) span {
    background: #0077b5;
}

.icons ul li:nth-child(3) span {
    background: #000000;
}

@media only screen and (max-width: 900px) {
    #about .profile-pic {
        width: 114px;
        height: 114px;
        margin-left: 12px;
    }

    #about .contact-details {
        width: 50%;
    }

    #about .download {
        width: 50%;
    }
}

@media only screen and (max-width: 767px) {
    .icons {
        display: none;
    }

    #about .profile-pic {
        display: none;
    }

    #about .download .button {
        width: 100%;
        text-align: center;
        padding: 15px 20px;
    }

    #about .main-col {
        padding-right: 30px;
    }
}