.language-select button {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Poppins', sans-serif;
}

.language-select hr {
    margin: 0px 8px;
    border-color: rgba(150, 150, 150, 0.2);
}

.language-select button:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 1024px) {
    .language-select hr {
        display: none;
    }    
}