#tech {
    background: var(--color-brand-primary);
    color: var(--color-neutral-lighest);
    padding-top: 90px;
    padding-bottom: 72px;
    overflow: hidden;
}

#tech h1 {
    font: 18px/24px 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-neutral-lighest);
}

#tech h1 span {
    border-bottom: 3px solid var(--color-neutral-lighest);
    padding-bottom: 6px;
}

#tech h3 {
    font: 25px/30px 'Poppins', sans-serif;
    font-weight: bold;
}

#tech .header-col {
    padding-top: 9px;
}

#tech .main-col {
    padding-right: 10%;
}

#tech .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#tech .cards .card {
    background: var(--color-neutral-lighest);
    padding: 15px;
    width: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 4vh;
}

#tech .cards .card:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 15px var(--color-neutral-medium);
}

#tech .cards .card .card-img {
    width: 50px;
    align-self: center;
    margin-bottom: 2vh;
}

#tech .cards .card .card-title {
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 2px;
}

#tech .cards .card .card-subtitle {
    color: #8d8d8d;
    margin: 0;
}

@media only screen and (max-width: 767px) {
    #tech .cards {
        justify-content: center;
    }

    #tech .cards .card {
        width: 200px;
    }

    #tech .cards:first-child {
        margin-top: 5vh;
    }

    #tech h1 {
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    #tech .cards {
        justify-content: center;
    }

    #tech h1 {
        text-align: center;
    }
}